.search-area {
    display: flex;
}

.book-search {
    flex: 1;
    margin: 0 !important;
}

.theme-mode-toggle-wrapper {
    display: table;
    margin: 0 !important;
}

.theme-mode-toggle {
    touch-action: pan-x;
    display: inline-block;
    position: relative;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    padding: 0;
    -webkit-touch-callout: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
  }
  
  .theme-mode-toggle-screenreader-only {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  .theme-mode-toggle-item {
    width: 30px;
    height: 34px;
    padding: 0;
    transition: all 0.2s ease;
  }
  
  .theme-mode-toggle-item-dark {
    position: absolute;
    width: 17px;
    height: 17px;
    left: 5px;
    top: 0px;
    bottom: 0px;
    margin-top: auto;
    margin-bottom: auto;
    line-height: 0;
    opacity: 0;
    transition: opacity 0.25s ease;
  }
  
  .theme-mode-toggle-checked .theme-mode-toggle-item-dark {
    opacity: 1;
    transition: opacity 0.25s ease;
  }
  
  .theme-mode-toggle-item-light {
    position: absolute;
    width: 17px;
    height: 17px;
    left: 5px;
    top: 0px;
    bottom: 0px;
    margin-top: auto;
    margin-bottom: auto;
    line-height: 0;
    opacity: 1;
    transition: opacity 0.25s ease;
  }
  
  .theme-mode-toggle-checked .theme-mode-toggle-item-light {
    opacity: 0;
  }
